html, body {
    height: 100%;
    margin: 0;
}
body {
    /*background-image: linear-gradient(to right, blue, pink);*/
    display: flex;
}

div#left-side {
    flex:1;
    height: 100%;
    width: 50%;
    background-color: aqua;
    padding-top: 75px;
}

div#right-side {
    flex:1;
    height: 100%;
    width: 50%;
    background-color: hotpink;
    padding-top: 75px;
}

img {
    display: block;
    margin-left: 25%;
    border: 1px solid #000;
    max-width: 40%;
    height: auto;
    padding: 20px;
}

div.icon-container {
    justify-content: center;
    align-items: center;
}

div#song1.songs, div#song3.songs {
    margin-top: 5px;
}

audio.songs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img#song1-pic, img#song3-pic {

}